/* .grid { */
/*   display: grid; */
/*   grid-template-columns: 2fr 1fr; */
/*   grid-gap: 2rem; */
/* } */
.date-text{
  text-align: center;
  font: normal normal normal 13px/16px Helvetica;
  letter-spacing: 0px;
  color: #707070;
}
.seeAll a {
  display: flex;
  justify-content: end;
  align-items: center;
}
.seeAll span:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.22px;
  color: #333333;
  margin: 0 5px;
}
.arrow.bg-black {
  background: #333333 !important;
  transition: all .5s;
}
.seeAll:hover .arrow{
  transform: translateX(5px);
}
.seeAll:hover .arrow:lang(ar){
  transform: translateX(-5px);
}
/*card inside slider*/
/* .card{
  box-shadow: 0px 7px 17px #79797929;
  background: #F6FAFF 0% 0% no-repeat padding-box;
  border: 0.6000000238418579px solid #A3CAF6;
  border-radius: 14px!important;
  opacity: 1;
  transition: .4s;
} */
.card-body{
  padding: 0.5rem 0.5rem; 
}
.cardUserImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1.5px;
}
.move-left {
  margin-left: -1.5rem;
}
.plus img{
  width: 19px;
  height: 19px;
}
.cardUserName{
  font-weight: 500;
}
.cardUserLive{
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #F54343;
  opacity: 1;
  text-transform: uppercase;
}
.cardUserLive span{
  position: relative;
  top: -22px;
  font-size: 30px;
  font-weight: 900;
}
.card-body-text{
background-color: #009bc7;
border-radius: 14px!important;
padding:10px;
margin-bottom: 10px;
}
.card-subtitle{
  font: normal normal bold 11px/13px Helvetica;
  letter-spacing: 0.66px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}
.card-title{
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.28px;
  color: #FFFFFF;
  opacity: 1;
  margin-bottom: 1.5rem;
}
.card-text{
  text-align: left;
  font: normal normal normal 11px/15px Helvetica;
  letter-spacing: 0.07px;
  color: #FFFFFF;
  opacity: 1;
}
.cardDetails {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: space-around;
}
/* .card > * {
  flex: 1;
} */
.card .img  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
/*serviceProviders slider*/
.slick-slide img {
  display: unset;
}
.slick-initialized .slick-slide {
  display: flex;
}
.serviceProviders .content{
  width: 100%;
  margin-top: 30px;
}
/*.serviceProviders{
  height: 100vh;
  display: flex;
}*/
.sliderControls button {
  width: 44px;
  height: 44px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #43D2F4;
  padding: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 5px;
  background: linear-gradient(to right, #43D2F4 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
.sliderControls button:hover {
  background-position: left bottom;
}
.sliderControls button:hover svg path{
  fill: #fff !important;
}
.prev svg:lang(en){
  transform: scaleX(-1);
}
.next svg:lang(ar){
  transform: scaleX(-1);
}
.serviceProviders-slider{
  direction: ltr;
}
.serviceProviders-slider-items{
margin: 0 1rem 1rem;
}
.serviceProviders-slider-items .card{
  box-shadow: 0px 7px 17px #79797929;
  background: #F6FAFF 0% 0% no-repeat padding-box;
  border: 0.6000000238418579px solid #A3CAF6 !important;
  border-radius: 14px!important;
  opacity: 1;
  transition: .4s;
  min-height: 310px;
  padding:0 !important;
}
.serviceProviders-slider-items p {
    color: white !important;
}
.tbl td{
  padding-top: 15px;
}
.tbl td img {
  margin: 0px 5px;
}
.eventTopicText{
  color: #768791;
  font-weight: 600;
  text-overflow: ellipsis;
  display: -webkit-box;
/*   -webkit-line-clamp: 6; */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.boldText{
  font-weight: bold;
  letter-spacing: 0.11px;
  color: #000000;
  text-decoration: none;
}
.card-container:hover{
  transform: scale(1.03);
}
.card-container {
  width: 259px;
  flex-shrink: 0;
  height: 300px;
  box-sizing: border-box;
}
.card-container .card {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.profile{
  height: 270px;
  width: 230PX;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px;
  background: #fff;
  border:solid 0.9px transparent;
  transition: .5s;
  box-shadow: 0px 5px 13px 1px rgba(23,84,116,0.18);
  margin:10px;
  border-top: 4px solid #2EB9D2;
}
.profile a{
  display: block;
}
.profile:hover{
  z-index: 50;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 7px 17px 0 rgba(23,84,116,0.18);
}
.profile-image{
  width: 100%;
  height:  auto;
  padding: 10px;
  text-align: center;
}
.profile-image img{
  width: 90px;
  height: 90px;
  border-radius: 20%;
}
.profile-text{
  width: 100%;
  height: auto;
  text-align: center;
}
.profile-text h1{
  font-size:  15px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.profile-text p{
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.14px;
  color: #333333;
  opacity: 1;
}
.profile-text p span{
  padding: 2px 5px;
  border: 1px solid #ccc;
  font-size: 10px;
  margin-left: 20px;
}
.hrVertical {
  border-right: 1px solid #009BC7;
  margin: 0px;
  padding: 9px;
  opacity: 0.2;
}
.blueBorderBtn {
  background: #FFF;
  border: 1px solid #009BC7;
  color: #009BC7;
  border-radius: 25px;
  padding: 0;
  width: 140px;
  font-size: 14px;
  height: 40px;
  margin-top: 20px;
  font-weight: 400;
}
.blueBorderBtn .arrow{
  text-align:center;
  margin-left: 10px;
}
.blueBorderBtn:hover{
  transform: translateX(5px);
}
/* .card-details-small{
  font: normal normal bold 16px/22px Helvetica;
  letter-spacing: 0.1px;
  color: #FFFFFF;
} */
.eventImage{
  height: 340px;
    background: transparent url("../images/solar-power-panel-sky-background-3d-rendering.png") 0% 0% no-repeat padding-box;
    border-radius: 8px;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
    background-size: cover;
   	margin: 0 auto;
}
.add{
  padding: 4px 20px 4px 15px;
  background: #23B6D0;
  border-radius: 20px;
  color: #fff;
  border: 0;
  transition: .3s;
  box-shadow: 2px 7px 17px #79797929;
  width: unset;
  height: unset;
  margin-left: 10px;
}
.add:hover{
  background:  rgb(0, 155, 199, 0.6)!important;
}
.plus img{
  width: 19px;
  height: 19px;
}

.itemDetail {
    margin-top: 14rem;
    margin-left: 8rem;
  }
  .titleItemDetail {
    width: max-content;
    font-size: 20px;
    font-weight: bolder;
  }
  .capitalText{
    text-transform: uppercase;
  }
  .project-name .bgImage {
    width: 100%;
    height: 25vh;
    position: absolute;
    background-image: url("../images/temp2Bg.png");
    background-size: cover;
  }
  .project-name .bgImage:lang(ar) {
    transform: scaleX(-1);
  }
  .author-profile {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    margin-left: 1rem;
    padding: 0rem;
  }
  .img-profile {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  .user-profile {
    height: 3rem;
    width: 3rem;
  }
  
  .grey-font {
    color: darkgrey;
    font-size: 10px;
    margin-bottom: 1rem;
  }
  .titleItemDetail {
    font-size: 26px;
    width: inherit;
  }
  .inline-flex {
    display: inline-flex;
  }
  
  /* Media Queries */
  
  @media screen and (max-width: 1440px) {
  }
  
  @media screen and (max-width: 1366px) {
  }
  
  @media screen and (max-width: 1200px) {
  }
  
  @media screen and (max-width: 1024px) {
    .user-profile {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  
  /* @media screen and (max-width: 980px) {
  } */
  
  @media screen and (max-width: 768px) {
    .project-name .content,
    .userType .content {
      padding-top: 1rem !important;
    }
    .user-profile {
      height: 1.75rem;
      width: 1.75rem;
    }
    .m-t-10 {
      margin-top: 10px;
    }
    .serviceProviders .titleItemDetail ,.serviceProviders .sliderControls {
      margin-top: 10px;
    }
  }

@media screen and (max-width: 820px) {
	.tableLabelsData {
		display: block !important;
	}
}
@media screen and (max-width: 480px) {
	.tableLabelsData {
		display: block !important;
		font-size: 14px;
	}
	.eventContent {
		margin: 0 !important;
		padding: 0 !important;
		width: 106% !important;
	}
	
	.eventButton span:nth-child(2){
		display: none;	
	}
	.eventButton {
		width: 50px !important;
    	height: 50px !important;
	}
}

@media screen and (max-width: 1600 px) {
	.serviceProviders-slider-items .card {
		min-height: 270px;
	}
}

@media screen and (max-width: 1400px) {
	.addEvent {
		padding: 0 10px;
		width: auto;
		margin-left: 0;
	}
}

@media screen and (max-width: 820 px) {
	.serviceProviders-slider-items .card {
		min-height: 310px;
	}
}